/*
BASE STYLESHEET
Description:  Context and page specific overrides
Author:       Interactive Things
*/

/* GENERAL
/////////////////////////////////////////////////////////////////*/
body {
  background-color: #E2353F;
  color: #000;
  font-family: Times, "Times New Roman", serif;
  font-size: 18px;
  font-style: italic;

}
p{
  color: inherit;
  font-size: inherit;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 1.5em;

}
.row td {
  color: inherit;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 1.5em;

}
li {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: 1.5em;
  margin-bottom: 1.5em;

}
a,
a:hover,
a:visited {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: underline;
}

a:hover {
  color: #fff;
}
h2,
.row th {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #fff;
  height: 40px;
  margin: 12px 0 0;
  padding: 10px 10px 0 0;
}
h2 a,
h3 a {
  text-decoration: none;
  color: white !important;
}
.row table,
.row tbody,
.row td,
.row th {
  border: none;
}
table {
  font: inherit;
}
table td {
  vertical-align: top;
  padding: 10px 20px 0 0;
}
/* STRUCTURE
/////////////////////////////////////////////////////////////////*/
#header {
  margin-top: 72px;
  margin-bottom: 72px;
  position: relative;
}
#footer {
  border: none;
  margin-top: 72px;
}
#footer p {
  color: #BF3338;
  font-size: 0.8em;
}
/* COMPONENTS
/////////////////////////////////////////////////////////////////*/
#logo {
  margin: 0;
  margin-left: -10px;
  padding: 0;

}
#date{
  margin: 25px 0 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  height: auto;
}
#blurb {
  margin: 0px 0 0;
  font-size: 24px;
  line-height: 1.2;
}
/* UTILITIES
/////////////////////////////////////////////////////////////////*/
#utilities {
  font-size: 14px;
  position:absolute;
  top:-60px;
  right:0;
}
#utilities ul, .utilities li {
  list-style:none;
}
#utilities li {
  float:left;
  padding-left: 20px;
}
#utilities li.language {
  padding-left: 5px;
}
#utilities a,
#utilities span {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
/* SLIDER
/////////////////////////////////////////////////////////////////*/
#utilities .slider {
  overflow: hidden;
  position: relative;
  width: 40px;
  -moz-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
#utilities .slider:hover .slide_label {
  float: left;
  color: #fff;
}
#utilities .slider:hover .slide_label:after{
  content:":";
}
/* SHARE
/////////////////////////////////////////////////////////////////*/
#utilities #share_slider {
  width: 40px;
}
#utilities #share_slider .slide_label {
  float: left;
}
#utilities #share_slider #share_buttons {
  left: 80px;
  overflow: hidden;
  position: absolute;
  width: 390px;
}
#utilities #share_slider #share_buttons span.share_button {
  float: left;
  height: 30px;
}
#utilities #share_slider #share_buttons #share_twitter {
  width: 120px;
}
#utilities #share_slider #share_buttons #share_twitter iframe {
  margin-top: 0;
}
#utilities #share_slider #share_buttons #share_facebook {
  width: 100px;
}
#utilities #share_slider #share_buttons #share_facebook iframe {
  margin-top: 0;
}
#utilities #share_slider #share_buttons #share_google {
  width: 70px;
}
#utilities #share_slider #share_buttons #share_google div {
  margin-top: 0 !important;
}
#utilities #share_slider:hover {
  width: 390px;
}
/* CONTACT
/////////////////////////////////////////////////////////////////*/
#utilities #contact_slider {
  width: 60px;
}
#utilities #contact_slider .slide_label {
  float: left;
}
#utilities #contact_slider #contact_buttons {
  left: 70px;
  overflow: hidden;
  position: absolute;
  width: 200px;
}
#utilities #contact_slider #contact_buttons span.contact_button {
  float: left;
  padding-left: 20px;
}
#utilities #contact_slider:hover {
  width: 200px;
}
/* ACTION
/////////////////////////////////////////////////////////////////*/
#action {
  position: absolute;
  right: 0;
  top: 90px;
}
#action a.btn {
  font-size: 24px;
}
/* BUTTON
/////////////////////////////////////////////////////////////////*/
a.btn {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222;
  text-decoration: none;
  font-size: 18px;

  padding: 0 20px;
  line-height: 60px;
  border: none;
  background: white;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}
a.btn:hover {
  color: #E1343F;
  background: #222;
  text-shadow: none;
}
/* HEADLINES
/////////////////////////////////////////////////////////////////*/
.page-header {
  margin: 30px 0;
  position: relative;
  border-bottom: 1px solid #BF3338;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
.page-header h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 0;
  color: white;
  margin-top: -30px;
  background-color: #222;
  padding: 0 10px;
  font-size: 12px;

  line-height: 60px;
  min-width: 40px;
  text-transform: uppercase;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}
.page-header h1.sticky {
  position: fixed;
  top: 15px;
}
.page-header h1 span{
  display: block;
  position: absolute;
  right: -9px;
  top: 25px;
  height: 11px;
  width: 10px;
  background: transparent url(../images/bubble_pointer.png) 0 100% no-repeat;
}
/* SECTIONS
/////////////////////////////////////////////////////////////////*/
.section-who .col0,
.section-who .col1,
.section-who .col2{
  width: 33%;
}
.section-who th.col0 {
  padding-left: 40px;
  background: transparent url(../images/bubble_idea.png) 0 50% no-repeat;
}
.section-who th.col1 {
  padding-left: 40px;
  background: transparent url(../images/bubble_design.png) 0 50% no-repeat;
}
.section-who th.col2 {
  padding-left: 40px;
  background: transparent url(../images/bubble_developer.png) 0 50% no-repeat;
}

.section-when .col0,
.section-when .col1 {
  width:50%;
}
/*
.section-when th.col0 {
  padding-left: 40px;
  background: transparent url(../images/bubble_30.png) 0 50% no-repeat;
}
.section-when th.col1 {
  padding-left: 40px;
  background: transparent url(../images/bubble_01.png) 0 50% no-repeat;
}
*/

.section-how .col0,
.section-how .col1 {
  width:50%;
}

.section-where .col0,
.section-where .col1 {
  width:50%;
}
.section-where th {
  padding-left: 40px;
  background: transparent url(../images/bubble_location.png) 0 50% no-repeat;
}

.section-sponsor .col0,
.section-sponsor .col1,
.section-sponsor .col2,
.section-sponsor .col3{
  width: 25%;
}

.section-about .col0{
  width: 66%;
}
.section-about .col1{
  width: 33%;
}
