/*
BASE STYLESHEET
Description:  Context and page specific overrides
Author:   Interactive Things
*/

/* GENERAL
/////////////////////////////////////////////////////////////////*/
body {
  background-color: #E2353F;
  color: #000;
  font-family: Times, "Times New Roman", serif;
  font-size: 18px;
  font-style: italic;

}
p{
  color: inherit;
  font-size: inherit;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 1.5em;

}
.row td {
  color: inherit;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 1.5em;

}
li {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: 1.5em;
  margin-bottom: 1.5em;

}
a,
a:hover,
a:visited {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: underline;
}

a:hover {
  color: #fff;
}
h2,
.row th {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #fff;
  height: 40px;
  margin: 12px 0 0;
  padding: 10px 10px 0 0;
}
h2 a,
h3 a {
  text-decoration: none;
  color: white !important;
}
.row table,
.row tbody,
.row td,
.row th {
  border: none;
}
table {
  font: inherit;
}
table td {
  vertical-align: top;
  padding: 10px 20px 0 0;
}
/* STRUCTURE
/////////////////////////////////////////////////////////////////*/
#header {
  margin-top: 72px;
  margin-bottom: 72px;
  position: relative;
}
#footer {
  border: none;
  margin-top: 72px;
}
#footer p {
  color: #BF3338;
  font-size: 0.8em;
}
/* COMPONENTS
/////////////////////////////////////////////////////////////////*/
#logo {
  margin: 0;
  margin-left: -10px;
  padding: 0;

}
#date{
  margin: 25px 0 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  height: auto;
}
#blurb {
  margin: 0px 0 0;
  font-size: 24px;
  line-height: 1.2;
}
/* UTILITIES
/////////////////////////////////////////////////////////////////*/
#utilities {
  font-size: 14px;
  position:absolute;
  top:-60px;
  right:0;
}
#utilities ul, .utilities li {
  list-style:none;
}
#utilities li {
  float:left;
  padding-left: 20px;
}
#utilities li.language {
  padding-left: 5px;
}
#utilities a,
#utilities span {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
/* SLIDER
/////////////////////////////////////////////////////////////////*/
#utilities .slider {
  overflow: hidden;
  position: relative;
  width: 40px;
  -moz-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
#utilities .slider:hover .slide_label {
  float: left;
  color: #fff;
}
#utilities .slider:hover .slide_label:after{
  content:":";
}
/* SHARE
/////////////////////////////////////////////////////////////////*/
#utilities #share_slider {
  width: 40px;
}
#utilities #share_slider .slide_label {
  float: left;
}
#utilities #share_slider #share_buttons {
  left: 80px;
  overflow: hidden;
  position: absolute;
  width: 390px;
}
#utilities #share_slider #share_buttons span.share_button {
  float: left;
  height: 30px;
}
#utilities #share_slider #share_buttons #share_twitter {
  width: 120px;
}
#utilities #share_slider #share_buttons #share_twitter iframe {
  margin-top: 0;
}
#utilities #share_slider #share_buttons #share_facebook {
  width: 100px;
}
#utilities #share_slider #share_buttons #share_facebook iframe {
  margin-top: 0;
}
#utilities #share_slider #share_buttons #share_google {
  width: 70px;
}
#utilities #share_slider #share_buttons #share_google div {
  margin-top: 0 !important;
}
#utilities #share_slider:hover {
  width: 390px;
}
/* CONTACT
/////////////////////////////////////////////////////////////////*/
#utilities #contact_slider {
  width: 60px;
}
#utilities #contact_slider .slide_label {
  float: left;
}
#utilities #contact_slider #contact_buttons {
  left: 70px;
  overflow: hidden;
  position: absolute;
  width: 200px;
}
#utilities #contact_slider #contact_buttons span.contact_button {
  float: left;
  padding-left: 20px;
}
#utilities #contact_slider:hover {
  width: 200px;
}
/* ACTION
/////////////////////////////////////////////////////////////////*/
#action {
  position: absolute;
  right: 0;
  top: 90px;
}
#action a.btn {
  font-size: 24px;
}
/* BUTTON
/////////////////////////////////////////////////////////////////*/
a.btn {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222;
  text-decoration: none;
  font-size: 18px;

  padding: 0 20px;
  line-height: 60px;
  border: none;
  background: white;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}
a.btn:hover {
  color: #E1343F;
  background: #222;
  text-shadow: none;
}
/* HEADLINES
/////////////////////////////////////////////////////////////////*/
.page-header {
  margin: 30px 0;
  position: relative;
  border-bottom: 1px solid #BF3338;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
.page-header h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 0;
  color: white;
  margin-top: -30px;
  background-color: #222;
  padding: 0 10px;
  font-size: 12px;

  line-height: 60px;
  min-width: 40px;
  text-transform: uppercase;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}
.page-header h1.sticky {
  position: fixed;
  top: 15px;
}
.page-header h1 span{
  display: block;
  position: absolute;
  right: -9px;
  top: 25px;
  height: 11px;
  width: 10px;
  background: transparent url(../images/bubble_pointer.png) 0 100% no-repeat;
}
/* SECTIONS
/////////////////////////////////////////////////////////////////*/
.section-who .col0,
.section-who .col1,
.section-who .col2{
  width: 33%;
}
.section-who th.col0 {
  padding-left: 40px;
  background: transparent url(../images/bubble_idea.png) 0 50% no-repeat;
}
.section-who th.col1 {
  padding-left: 40px;
  background: transparent url(../images/bubble_design.png) 0 50% no-repeat;
}
.section-who th.col2 {
  padding-left: 40px;
  background: transparent url(../images/bubble_developer.png) 0 50% no-repeat;
}
.section-when .col0,
.section-when .col1 {
  width:50%;
}
.section-how .col0,
.section-how .col1 {
  width:50%;
}
.section-where .col0,
.section-where .col1 {
  width:50%;
}
.section-where th {
  padding-left: 40px;
  background: transparent url(../images/bubble_location.png) 0 50% no-repeat;
}
.section-sponsor .col0,
.section-sponsor .col1,
.section-sponsor .col2,
.section-sponsor .col3{
  width: 25%;
}
.section-about .col0{
  width: 66%;
}
.section-about .col1{
  width: 33%;
}

/* BUTTONS
//
// Usage: <span class="button"><a class="icon white-arrow-right">Foo</a></span>
//
/////////////////////////////////////////////////////////////////*/

.button {

  display: inline-block;

  -moz-transition: all 100ms ease-out;
  -webkit-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;

  -webkit-border-radius: 15px 15px;
  -moz-border-radius: 15px / 15px;
  -o-border-radius: 15px / 15px;
  -ms-border-radius: 15px / 15px;
  -khtml-border-radius: 15px / 15px;
  border-radius: 15px / 15px;

  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(51,51,51,0.9)), color-stop(100%, rgba(0,0,0,0.9)));
  background-image: -webkit-linear-gradient(top, rgba(51,51,51,0.9),rgba(0,0,0,0.9));
  background-image: -moz-linear-gradient(top, rgba(51,51,51,0.9),rgba(0,0,0,0.9));
  background-image: -o-linear-gradient(top, rgba(51,51,51,0.9),rgba(0,0,0,0.9));
  background-image: -ms-linear-gradient(top, rgba(51,51,51,0.9),rgba(0,0,0,0.9));
  background-image: linear-gradient(top, rgba(51,51,51,0.9),rgba(0,0,0,0.9));

  color: #fff;
  text-align: center;

  padding:2px 15px 4px
}
.button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.9)), color-stop(100%, rgba(51,51,51,0.9)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.9), rgba(51,51,51,0.9));
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.9), rgba(51,51,51,0.9));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.9), rgba(51,51,51,0.9));
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.9), rgba(51,51,51,0.9));
  background-image: linear-gradient(top, rgba(0,0,0,0.9), rgba(51,51,51,0.9));
}
.button a, .button:hover a{
  color: #fff;
  text-decoration: none
}
.button a.icon {
  display: block;
  text-indent: 25px;
  background: url('/assets/app/images/icons.png') no-repeat;
}
.icon.white-arrow-right {background-position: 0 -176px;}
.icon.personal {background-position: 0 -1015px}
.icon.technical {background-position: 0 -976px}
.icon.phone {background-position: 0 -1056px}
.icon.email {background-position: 0 -726px}
.icon.apply {background-position: 0 -718px}
.icon.responsibility {background-position: 0 -428px}
.icon.offer {background-position: 0 -785px}
.icon.vcard {background-position: 0 -401px}
.icon.date {background-position: 0 -470px}
.icon.pictures {background-position: 0 -1122px}
.icon.bubble {background-position: 0 -363px}
.icon.magnifier {background-position: 0 -684px}
.icon.wheel {background-position: 0 -1401px}
.icon.arrow_right {background-position: 0 -141px}
.icon.number_1 {background-position: 0 -824px}
.icon.number_2 {background-position: 0 -862px}
.icon.number_3 {background-position: 0 -900px}
.icon.number_4 {background-position: 0 -938px}
.icon.map {background-position: 5px -612px}
.icon.twitter {background-position: 0 -1230px}
.icon.arrow_up {background-position: 20% -216px}
.icon.arrow_down {background-position: 0 5px}
.icon.list {background-position: 40% -581px}
.icon.heart {background-position: 0 -508px}
.icon.service {background-position: 0 -1158px}
.icon.link {background-position: 0 -543px}
.icon.article {background-position: 0 -292px}
.icon.pen {background-position: 0 -980px}
.icon.bookmark {background-position: 0 -329px}
.icon.website {background-position: 0 -1368px}
.icon.tumblr {background-position: 0 -1193px}
.icon.videochannel {background-position: 0 -1331px}
