body {
  background-color: #E2353F;
  color: white;
  font-family: Times, "Times New Roman", serif;
  font-size: 18px;
  font-style: italic;
  
}

p, .row td {
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  font-style: italic;
}

li {
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  font-style: italic;
  
}

a, a:hover, a:visited {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: #222;
}

a.btn {
  font-family: 'HelveticaNeueW02-67MdCn 694060', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #222;
  text-decoration: none;
  font-size: 18px;

  padding: 0 20px;
  line-height: 60px;
  border: none;
  background: white;
  
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

a.btn:hover {
  color: #E1343F;
  background: #222;
  text-shadow: none;
}

h2, h3, .row th {
  font-family: 'HelveticaNeueW02-67MdCn 694060', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #fff;
  margin: 12px 0;
}

h2 {
  color: #222;
}

h2 a, h3 a {
  text-decoration: none;
  color: white !important;
}

footer {
  border: none;
  margin-top: 72px;
}

footer p {
  color: #BF3338;
  font-size: 0.8em;
}

#logo {
  margin: 0;
  margin-left: -10px;
  padding: 0;
  
}

.header {
  margin-top: 72px;
  margin-bottom: 144px;
  position: relative;
}

.blurb {  
  margin: 50px 0;
  font-size: 26px;
  line-height: 40px;
}

.action {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -30px;
}

.action .btn {
  font-size: 24px;
}

.page-header {
  margin: 96px 0 24px;
  position: relative;
  border-bottom: 1px solid #BF3338;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

.page-header h1 {
  font-family: 'HelveticaNeueW02-67MdCn 694060', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  position: absolute;
  color: white;
  top: -30px;
  background-color: #222;
  padding: 0 10px;
  font-size: 18px;
  line-height: 60px;
  min-width: 40px;
  
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.page-header h1 span{
  display: block;
  position: absolute;
  right: -9px;
  top: 25px;
  height: 11px;
  width: 10px;
  background: transparent url(../images/bubble_pointer.png) 0 100% no-repeat;
}

.row table, .row tbody, .row td, .row th {
  border: none;
}

.row th {
  height: 40px;
}

.section-who td { width:33%;}

.section-who th.col0 {
  padding-left: 40px;
  background: transparent url(../images/bubble_idea.png) 0 50% no-repeat;
}

.section-who th.col1 {
  padding-left: 40px;
  background: transparent url(../images/bubble_design.png) 0 50% no-repeat;
}

.section-who th.col2 {
  padding-left: 40px;
  background: transparent url(../images/bubble_developer.png) 0 50% no-repeat;
}

.section-where td { width:50%;}

.section-where th {
  padding-left: 40px;
  background: transparent url(../images/bubble_location.png) 0 50% no-repeat;
}

table {
  font: inherit;
}

table td {
  vertical-align: top;
}

.lang {
  position:absolute;
  top:-60px; right:0;
}

.lang ul, .lang li {
  list-style:none;
}

.lang li {
  float:left; padding-left:6px;
}

.lang a {
  font-family: 'HelveticaNeueW02-67MdCn 694060', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.twitter {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -100px;
}

.twitter a {
  padding:20px 0px 20px 50px;
  background: transparent url(../images/twitter_newbird_white_sm.png) 0 50% no-repeat;
  font-family: depot-new-condensed, Univers, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
}

.twitter a:hover {
  color:white;
  background-image: url(../images/twitter_newbird_blue_sm.png);
}
